<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fravell">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/fravelllogopng"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fravell"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AllProductsByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AllCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".OrderSuccessScreen"
            android:exported="false" />
        <activity
            android:name=".AddShippingAddress"
            android:exported="false" />
        <activity
            android:name=".PaymentPassConfirmScreen"
            android:exported="false" />
        <activity
            android:name=".AddNewCard"
            android:exported="false" />
        <activity
            android:name=".PaymentMethods"
            android:exported="false"
            android:label="Payment Methods" />
        <activity
            android:name=".CheckoutScreen"
            android:exported="false"
            android:label="Checkout" />
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <activity
            android:name=".WriteReviewScreen"
            android:exported="false" />
        <activity
            android:name=".ReviewsDetailPage"
            android:exported="false" />
        <activity
            android:name=".ProductDetailPage"
            android:exported="false" />
        <activity
            android:name=".NavHeader"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false" />
        <activity
            android:name=".FilterMessage"
            android:exported="false"
            android:label="Filter Messages" />
        <activity
            android:name=".ToNewMessage"
            android:exported="false"
            android:label="New Message" />
        <activity
            android:name=".MessagesMainScreen"
            android:exported="false"
            android:label="Messages" />
        <activity
            android:name=".CartScreen"
            android:exported="false"
            android:icon="@drawable/cart_icon"
            android:label="Cart" />
        <activity
            android:name=".EnrouteFravellers"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CustomOrderDetails"
            android:exported="false"
            android:label="Enter Order Details" />
        <activity
            android:name=".NewPassEnter"
            android:label="New PassWord" />
        <activity android:name=".ForgotPinVeri" />
        <activity android:name=".ForgotPass" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumVeri1" />
        <activity android:name=".PhoneNumVeri" />
        <activity android:name=".EmailVeri" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>